body 
{
    text-align: center;
    font-family: "helvetica";
    background-color: black;
    color: red;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

#cabecera
{
    background: rgb(223, 100, 100);
    box-shadow: 0px 5px 30px 0px wheat;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    color: aqua;
}

#cabecera #tagline
{
    font-weight: normal;
    font-size: 0.8em;
    padding: 1em 0 0 0;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid wheat;
    margin: 0 auto;
}

#container h1{
    font-size: 30px;
}

#post
{
    padding: 1em;
}